@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;1,200;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Dancing+Script&family=Poppins:wght@200;400&family=Rubik:ital,wght@0,300;0,400;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'Montserrat' ,sans-serif;
}

body{
    width: 100%;
    display: block;
    font-family: 'Poppins', sans-serif;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
     scrollbar-width: none; /*for Firefox */
    overflow-y: scroll; 
}


  
 

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ba9fe7;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #721aff; 
  }

header{
    
    position: fixed;
    width: 100vw;
    z-index: 1;
}


#icon_menu{
    display: none;
}

.menu{
    /* background-color: rgb(68, 47, 120); */
   background-color: #b891f7;
    height: 5rem;
}


.menu__container{
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    align-items: center;
}

.menu__container #logo{
    height: 9.5vh;
}


.menu__links{
    height: 100%;
    transition: transform .5s;
    display: flex;
    
}
.menu__item{
    list-style: none;
    position: relative;
    height: 100%;
    color: #fff;
    --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
    --transform: rotate(-90deg) ;
}
.menu__item--active{
    --transform: rotate(0);
    --background: #b891f7;
}
.menu__item--show{
    background-color: var(--background);
}
.menu__item:hover{
     --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%); 
     --transform: rotate(0) ;
    }

.menu__link{
    color: #fff;
    text-decoration: none;
    padding: 0 30px;
    display: flex;
    height: 100%;
    align-items: center;
}
.menu__link:hover{
    background-color: #764fb5ad;;
}

.menu__item a{
    color: #ffe5fe;
}

.menu__nesting{
    clip-path: var(--clip);
}
.menu__link--inside{
    padding: 30px 100px 30px 20px;
}
.menu__arrow{
    transform: var(--transform);
    transition: transform .3s;
    display: block;
    margin-left: 3px;
}
.menu__nesting{
    list-style: none;
    transition: clip-path .3s;
    clip-path: var(--clip);
    position: absolute;
    right: 0;
    bottom: 0;
    width: max-content;
    transform: translateY(100%);
    background-color: #b891f7;
}

.menu__burguer{
    display: flex;
    height: 100%;
    align-items: center;
    cursor: pointer;
    padding: 0 15px;
    display: none;
}

.menu__img{
    display: block;
    width: 36px;
}



/*Portada*/

/* main{
    
    height: calc(100vh + 400px );
    position: relative;
    margin-top: 0;
    top: -100px;
} */

.cover{
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    
    padding-bottom: 40px;
}
.slider{
    width: 100%;
    height: 90vh;
    margin: auto;
    overflow: hidden;
}
.slider ul{
    padding: 0%;
    display: flex;
    width: 400%; 
    animation: run 25s infinite alternate ;
    animation-timing-function: ease-in;
    
}
.slider li{
    list-style: none;
    width: 100%;
}
.slider img{
    width: 100%;
}
@keyframes run {
    0% {
        margin-left: 0%;
    }
    20%{
        margin-left: 0%;
    }
    30%{
        margin-left: -100%;
    }
    45%{
        margin-left: -100%;
    }
    55%{
        margin-left: -200%;
    }
    80%{
        margin-left: -200%;
    }
    85%{
        margin-left: -300%;
    }
    100%{
        margin-left: -300%;
    }
}

.descriptionContainer{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
    margin-top: 5%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10%;
}
.card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: fit-content;
    width: 19vw;
    
}
#desc{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #2c2c2c;
}
#nombres{
    font-family: 'Allura', cursive;
    font-size: 45px;
    text-align: justify;
    margin-top: 15px;
    margin-bottom: 15px;

}
.card button {
    padding: 2px 15px 2px 15px;
    margin-top: 10px;
    background-color: #b891f7;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Allura', cursive;
    font-size: 25px;
}
.imgContainer{
    margin-top: 0;
}
.imgContainer img{
    border-radius: 100%;
    width: 50%;
    height: auto;
    margin-top: 0;
    margin-bottom: auto;
}



/*BANNER*/

.container__banner{
    margin-top: 80px;
}
.banner{
    height: 400px;
    display: flex;
    align-items: center;
    background: #b891f7;
    position: relative;
}

.container__banner{
    display: flex;
    height: 10vh;
    background-color: #b891f7;
   justify-content: space-evenly;
   flex-direction: row-reverse;
}

.container__banner h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color:#fff;
    font-weight: bolder;
    border-bottom: 1px #e8e8e8 solid;
}

.container__banner li,
.container__banner p
{
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    color:#fff;
    font-weight: bold;
    padding-top: 10px;
}

.contact,
.contact ul,
.socialNet,
.news
{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.imgPlace{
    display: flex;
}

.socialNet img{
    height: 30px;
}









@media (max-width: 800px){
 body{

    margin: 0;
    padding: 0;
    width: 100vw;
    overflow: hidden;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
 }
 body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }
  .menu__container{
    position: relative;
    top: 0;
    width: 100vw;
  }
 .menu{
    padding-right: 15px;
    font-size: 25px;
 
    width: 100vw;
 }

 .menu__links{
    display: block;
    z-index: 2;
    margin-top: 80px;
    margin-right: 0%;
    padding-right: 0%;
 }
 .menu__links > li{
    background-color: #b891f7;
 }


.menu__item{
    font-size: small;
    flex-direction: row;
}
.menu__nesting{
    z-index: 100;

}
 #icon_menu{
    display: block;
    cursor: pointer;
    position: absolute;
 }

 main{
    display: flex;
    flex-direction: column;
    
 }
 .slider{
    height: auto;
 }
 #logo,
 .detailed,
 .contact,
 .news{
    display: none;
 }

 .descriptionContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: auto;
 }
 .card{
    margin-bottom: 45px;

    
 }
 #name {
    font-family: 'Allura', cursive;
 }
 .imgContainer img{
    width: 105px;
    height: 130px;
 }
 #desc{
    width: 90vw;
 }
 .container__banner,
 .socialNet{
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .socialNet{
    flex-direction: column;
 }

 .none{
    display: none;
 }
}
